body {
	padding: 10px;
}

a.newcolor:link {
	color:orange;
}

a:hover{
	color:red;
}

a:visited {
	color:darkgray;
}

.special {
	color: red;
}
.second{
	border: solid 5px black;
	padding: 10px;
	color:purple;
	margin: 25px;
}
.third{
	border: solid 5px black;
	padding: 10px;
}

.leadmessage p{
	font-family: sans-serif;
}

p:nth-child(odd){
	font-weight: bold;
}